{% extends 'base.html.twig' %}

{% block title %}Mon inventaire{% endblock %}
{% block main_id %}shopInventory{% endblock %}

{% block body %}

<div id="overlay_shopInventory">
    <a href="{{path('app_play', {'id': animal.id})}}">Mon Animal</a>
    <div id="mon_portefeuille">
        <label>Mon portefeuille :</label>
        <div id="grp_input_money">
            <input class="form-control" type="text" id="money" disabled value="{{app.user.money}}$$" name="money" required size="10">
        </div>
    </div>
</div>
<div id="inventaire_magasin">
    <h1 class="h3 mb-3 font-weight-normal flip-in-hor-top">Inventaire : </h1>
    <a href="{{path("app_shop", {'id': animal.id})}}">Magasin</a>
</div>

{# form choix type action #}
<section id="select_type_action">
{{ form_start(form) }}
{{ form_widget(form) }}
    <div class="text-center">
        {# <a href="{{path("app_shop_action_object", { 'slug': article.slug })}}"class="btn">{{ button_label|default('Voir') }}</a> #}
        <div class="text-center">
            <button class="btn">{{ button_label|default('Voir') }}</button>
        </div>
    </div>
{{ form_end(form) }}
</section>
{# nom type action si selectionnée #}
{% if actionType is defined %}
    {% if actionType != "all" %}
        <h2 class="h4 font-weight-normal flip-in-hor-top">Catégorie : {{ actionType }}</h2>
    {% endif %}
{% else %}
        <h2 class="h4 font-weight-normal flip-in-hor-top">Tous les objets : </h2>
{% endif %}

{% if userItems is defined and userItems is not null and userItems != [] %}

    <table class="table table-striped mt-3">
        <thead>
            <th scope="col">Objet</th>
            <th scope="col">Description</th>
            {# <th scope="col">Conséquences</th> #}
            <th scope="col">Quantité</th>
        </thead>
        <tbody>
        {% for item in userItems %}
            <tr>
                <td data-label="Objet">{{item.name}}</td>
                <td data-label="Description">{{item.description}}</td>
                {# <td data-label="Conséquences">TODO</td> #}
                <td data-label="Quantité">{{item.quantity}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
{% else %}
<table class="table table-striped mt-3">
    <thead>
        <th scope="col">Objet</th>
        <th scope="col">Description</th>
        {# <th scope="col">Conséquences</th> #}
        <th scope="col">Quantité</th>
    </thead>
    <tbody>
        <tr>
            <td data-label="Inventaire" colspan="3">Aïe, il semblerait que ton inventaire soit vide</td>
        </tr>
    </tbody>
</table> 
{% endif %}
{% endblock %}
