{% extends 'base.html.twig' %}
{% block main_id %}game{% endblock %}
{% block body %}
<main>
    <h1 class="h3 mb-3 font-weight-normal">Choisir son animal :</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Vie</th>
                <th scope="col">Dernière activité</th>
                <th scope="col">Date de naissance</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animal %}
            <tr>
                <td data-label="Nom">{{ animal.name }}</td>
                <td data-label="Vie">{{ animal.value }}%</td>
                <td data-label="Dernière activité">{{ animal.last_active ? animal.last_active|date('d/m/Y H:i:s') : '' }}</td>
                <td data-label="Date de naissance">{{ animal.created_at ? animal.created_at|date('d/m/Y') : '' }}</td>
                <td data-label="">
                    <a name="btn btn-danger" href="{{path('app_play', {'id': animal.id})}}">Jouer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun animal trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>   

{% endblock %}
