{% extends 'base.html.twig' %}
{% block main_id %}
	game
{% endblock %}
{% block main_class %}
	new
{% endblock %}

{% block body %}
	<main>
		{% if animalsMorts|length > 0 %}
			<div class="alert alert-danger">
				{% for dead in animalsMorts %}
					<p>Votre "{{dead.type}}" qui s'appel "{{dead.name}}" est mort.</p>
				{% endfor %}
			</div>
		{% endif %}
		<h1 class="h3 mb-3 font-weight-normal flip-in-hor-top">Créer un nouvel animal :</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<div class="text-center">
			<button class="btn">{{ button_label|default('Créer') }}</button>
		</div>
		{{ form_end(form) }}
	</main>

{% endblock %}
