<div id="actions_list" class="flip-in-hor-top">
    <h2 class="h5 m-3 font-weight-normal">Liste des actions disponibles :</h2>

{% if actions != [] %}
    <table class="table table-striped mt-3">
        <thead class="thead-light">
            <th scope="col">Nom</th>
            <th scope="col">Conséquences</th>
            <th scope="col">Lancer action</th>
        </thead>
        <tbody>
        {% for action in actions%}
            <tr>
                <td data-label="Nom">{{ action.name }}</td>
                <td data-label="Conséquences">
                    <table id="table_csq" class="table table-striped mt-3">
                        <thead class="thead-light">
                            <th scope="col">Stat</th>
                            <th scope="col">Valeur min</th>
                            <th scope="col">Valeur max</th>
                        </thead>
                    {% for csq_stats in stats_actions %}
                        {% if csq_stats.id == action.id %}
                            <tr>
                                <td data-label="Stat" class="csq_stats_name">{{csq_stats.name}}</td>
                                {% if csq_stats.val_max < csq_stats.val_min %}
                                    <td data-label="Valeur min" class="{% if csq_stats.val_max > 0 %}statsPositive{% else %}statsNegative{% endif %} csq_stats_val_max">{{csq_stats.val_max}}</td>
                                    <td data-label="Valeur max" class="{% if csq_stats.val_min > 0 %}statsPositive{% else %}statsNegative{% endif %} csq_stats_val_min">{{csq_stats.val_min}}</td>
                                {% else %}
                                    <td data-label="Valeur min" class="{% if csq_stats.val_min > 0 %}statsPositive{% else %}statsNegative{% endif %} csq_stats_val_max">{{csq_stats.val_min}}</td>
                                    <td data-label="Valeur max" class="{% if csq_stats.val_max > 0 %}statsPositive{% else %}statsNegative{% endif %} csq_stats_val_min">{{csq_stats.val_max}}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </td>
                <td data-label="Lancer action">
                    <form action="{{ path('app_play_make_action', {'id': animal.id , 'idAction' : action.id }) }}" method="POST">
                        <button type="submit" class="btn btn-danger">GO</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tbody>
    </table>  
{% else %}
    {# <table class="table table-striped mt-3">
        <thead>
            <th scope="col">Nom</th>
            <th scope="col">Conséquences</th>
            <th scope="col">Lancer action</th>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">Il semblerait qu'aucune action ne soit disponible...</td>
            </tr>
        <tbody>
    </table>   #}
    <div class="actionTypeNull">
            <p>Aucune action n'est disponible, veuillez acheter des objets afin de débloquer de nouvelles actions!</p>
            <div class="text-center">
                <a href="{{path("app_shop", {'id' : animal.id })}}">Magasin</a>
            </div>
    </div>

{% endif %}
</div>