{# {{dump(animal)}} #}
<section id="action">    
    {# {{dump(typesAction)}} #}
    <h2 class="h5 m-3 font-weight-normal">Types d'action :</h2>

    {% if typesAction is defined and typesAction != [] %}
        <div id="actions_buttons">
        {% for typeAction in typesAction %}
            <form action="{{ path('app_play_type_action', {'id': animal.id , 'typeAction' : typeAction.type}) }}" method="post">
                <button type="submit" class="btn btn-primary">{{typeAction.type}}</button>
            </form>
        {% endfor %}
            <form action="{{path("app_inventory_full" , {'id' : animal.id })}}">
                <button type="submit" class="btn btn-danger inventoryBtn ">Inventaire</button>
            </form>
        </div>
    {% else %}
        <div class="actionTypeNull">
            <p>Aucune action n'est disponible, veuillez acheter des objets afin de débloquer de nouvelles actions!</p>
            <form action="{{path("app_shop", {'id' : animal.id })}}">
                <div class="text-center">
                    <button type="submit" class="btn btn-danger inventoryBtn">Magasin</button>
                </div>
            </form>
        </div>
    {% endif %}


    {% if actions is not null %}
        {% include "sections_play/actionsList.html.twig" with {'animal' : animal } %}
    {% endif %}
</section>