<h2 class="h5 m-3 font-weight-normal">Statistiques :</h2>
<div id="grid_stats" class="">
    <div id="grid_stats_col">
        <div class="icon_label_stats">
            <p>
                <i class="fa-solid fa-heart fa-xl"></i>
                <span class="label_icon_stats">Vie</span>
            </p>
            <p class="stat_value">{{ stats[0].value }}%</p>
        </div>
        <div class="icon_label_stats">
            <p>
                <i class="fa-solid fa-utensils fa-xl"></i>
                <span class="label_icon_stats">Nourriture</span>
            </p>
            <p class="stat_value">{{ stats[1].value }}%</p>
        </div>
        <div class="icon_label_stats">
            <p>
                <i class="fa-solid fa-droplet fa-xl"></i>
                <span class="label_icon_stats">Eau</span>
            </p>
            <p class="stat_value">{{ stats[2].value }}%</p>
        </div>
        <div class="icon_label_stats">
            <p>
                <i class="fa-solid fa-bolt fa-xl"></i>
                <span class="label_icon_stats">Énergie</span>
            </p>
            <p class="stat_value">{% set energie = (stats[2].value + stats[1].value)/2 %}{{energie|number_format(0)}}%</p>
        </div>
        <div class="icon_label_stats">
            <p>
                <i class="fa-brands fa-gratipay fa-xl">
                </i><span class="label_icon_stats">Bonheur</span>
            </p>
            <p class="stat_value">{{ stats[4].value }}%</p>
        </div>       
    </div>
</div>
