{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}
{% block main_id %}animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ animal.name }}</td>
            </tr>
            <tr>
                <th>En vie</th>
                <td>{{ animal.isAlive ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Dernières activités</th>
                <td>{{ animal.lastActive ? animal.lastActive|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ animal.createdAt ? animal.createdAt|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_animal_index') }}">Retour</a>

    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">Éditer</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
