{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}
{% block main_id %}shopInventory{% endblock %}

{% block body %}

<div id="overlay_shopInventory">
    <a href="{{path('app_play', {'id': animal.id})}}">Mon Animal</a>
	<div id="mon_portefeuille">
		<label>Mon portefeuille :</label>
		<div id="grp_input_money">
			{% if transaction != "" %}
				<p class="argentPerduApresAchat"> <i id="shop_arrow_down" class="fa-solid fa-arrow-down"></i> {{transaction}} $$</p>
			{% endif %}

			<input class="form-control" type="text" id="money" disabled value="{{money}}$$" name="money" required size="10">
		</div>
	</div>
</div>
<div id="inventaire_magasin">
    <h1 class="h3 font-weight-normal flip-in-hor-top">Magasin : </h1>
    <a href="{{path("app_inventory", {'id' : animal.id })}}">Inventaire</a>
</div>
<p class="tips">
	En ce lieu vous pouvez acheter tous les objets que désire votre adorable meilleur ami mais attention cela coute cher!
</p>
	{% if error != "" %}
		<div class="alert alert-danger">{{ error }}</div>
	{% endif %}
	{% if success != "" %}
		<div class="alert alert-success">{{ success }}</div>
	{% endif %}
	{% if shopItems == [] %}
		{% elseif shopItems is null %}
			<table class="table table-striped mt-3">
				<thead>
					<th scope="col">Objet</th>
					<th scope="col">Description</th>
					{# <th scope="col">Conséquences</th> #}
					<th scope="col">Prix</th>
					<th scope="col"></th>
				</thead>
				<tbody>
					<tr>
						<td data-label="Place" colspan="4">Aïe, il semblerait que le magasin a été dévalisé</td>
					</tr>
				</tbody>
				<tbody></tbody>
			</table>
		{% else %}
			<table class="table table-striped mt-3">
				<thead>
					<th scope="col">Objet</th>
					<th scope="col">Description</th>
					{# <th scope="col">Conséquences</th> #}
					<th scope="col">Prix</th>
					<th scope="col"></th>
				</thead>
				<tbody>
					{% for item in shopItems %}
						<tr>
							<td data-label="Objet">{{item.name}}</td>
							<td data-label="Description">{{item.description}}</td>
							{# <td data-label="Conséquences">TODO</td> #}
							<td data-label="Prix">{{item.price}}$$</td>
							<td data-label="">
								<form action="{{ path('app_shop_buy_objet', {'id': animal.id , 'idObjet' : item.id }) }}" method="post">
									{% if item.price <= app.user.getMoney() %}
										<button class="btn btn-danger" type="submit">Acheter</button>
									{% else %}
										Trop cher
									{% endif %}
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
	{% endif %}
{% endblock %}
