<header class="app_header">
	<a href="{{path('app_home')}}" class="app_logo">
		<img src="{{asset('assets/img/logo.png')}}" alt=""/>
	</a>

	<input class="app_navigation_toggle" type="checkbox" id="menu_btn"/>
	<label class="app_navigation_toggle_icon" for="menu_btn">
		<span class="navicon"></span>
	</label>
	<nav class="app_navigation">
		<ul>
			<li>
				<a href="{{ path("app_play") }}">Jouer</a>
			</li>
			<li>
				<a href="{{ path("app_regles-du-jeu") }}">Règles</a>
			</li>
			<li>
				{# <a href="{{path('app_leaderboard')}}">Classements</a> #}
			</li>
			{% if app.user is null %}
				<li>
					<a href="{{path("app_register")}}">S'inscrire</a>
				</li>
				<li>
					<a href="{{path("app_login")}}">Connexion</a>
				</li>
			{% else %}
				{% if app.user %}
				<li>
					{# <a href="{{path("app_profile_user")}}">{{app.user.pseudo}}</a> #}
				</li>
				{% endif %}
				<li>
					<a href="{{path("app_logout")}}">Déconnexion</a>
				</li>
			{% endif %}

		</ul>
	</nav>
</header>
