{% extends 'base.html.twig' %}

{% block title %}Liste des types d'animaux{% endblock %}
{% block main_id %}animal_type{% endblock %}
{% block main_class %}index{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Liste des types d'animaux</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal_type in animal_types %}
            <tr>
                {# <td>{{ animal_type.id }}</td> #}
                <td data-label="Nom">{{ animal_type.name }}</td>
                <td data-label="Actions">
                    <a href="{{ path('app_animal_type_show', {'id': animal_type.id}) }}">Voir</a>
                    <a href="{{ path('app_animal_type_edit', {'id': animal_type.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn" href="{{ path('app_animal_type_new') }}">Créer nouveau</a>
    </div>
{% endblock %}
