{% extends 'base.html.twig' %}

{% block title %}Type d'animaux{% endblock %}
{% block main_id %}animal_type{% endblock %}
{% block main_class %}show{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Type d'animaux</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ animal_type.id }}</td>
            </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ animal_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_animal_type_edit', {'id': animal_type.id}) }}">Éditer</a>

    <a class="btn float-right" href="{{ path('app_animal_type_index') }}">Retour</a>


    {{ include('animal_type/_delete_form.html.twig') }}
{% endblock %}
